<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4 custom-form">
			<%= simple_form_for @poem  do |f| %>
				<%= f.input :title, label: "Название" %>
				<%= f.input :content, label: "Текст стихотворения", :input_html => {:rows => 10} %>
				<%= f.association :user, collection: @users, include_blank: true, label: "Автор" %>

				<%= f.input :year, as: :string, input_html: {id: "poem_created"}, label: "Год" %>
				<%= f.input :dedicated_to, collection: Poem::PEOPLE, prompt: "Выбрать из списка", label: "Посвящается" %>
        		<%= f.input :cover, label: "Изображение для обложки" %>
        		<%= f.input :cover_cache, as: :hidden %>
				<%= f.submit "Добавить", class: "btn btn-lg red custom" %>
			<% end %>
		</div>
	</div>
</div>
    