
		<div class="col-xs-12 col-md-5 col-sm-offset-4">
			<div class="container-preview">
				<div class="poem-info">
					<div class="poem-date">
						<p> <%= Date.today.to_formatted_s(:long_ordinal) %> </p>
					</div>
					<div class="poem-description">
						<h2><%= @poem.title %></h2>
						<p>Посвящается:</p>
						<p><%= @poem.dedicated_to %></p>
					</div>
					<div class="poem-author-pic">
						<%= image_tag 'http://placehold.it/30x30', class: "avatar-large" %>
					</div>
				</div>
				<div class="poem-content">
					<p>
						<%= simple_format(@poem.content) %>
					</p>
				</div>
				<div class="poem-navigation">
					
				</div>
			</div>
		</div>	