<div class="wrapper">
  <div class="conrainer">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <div class="portrait">
          <%= image_tag 'http://placehold.it/200x200', class: "avatar-circle space" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <h2 class="custom">Редактировать профиль</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs custom-form">
            <%= f.input :email, label: "Адрес электронной почты", required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :password, label: "Пароль", autocomplete: "off", hint: "Оставьте это поле пустым, если пароль не требует изменений", required: false %>
            <%= f.input :password_confirmation, label: "Подтверждение пароля", required: false %>
            <%= f.input :first_name, label: "Имя", required: true %>
            <%= f.input :last_name, label: "Фамилия", required: true %>
            <%= f.input :nickname, label: "Имя пользователя", required: true %>
            <%= f.input :description, label: "О себе" %>
            <%= f.input :author, label: "Автор?", required: true %>
            <%= f.input :current_password, label: "Введите текущий пароль, чтобы подтвердить изменения", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Обновить", class: "btn btn-lg red custom" %>
          </div>
        <% end %>

<!--         <h3>Удалить аккаунт</h3> -->

<!--         <p>Не понравились наши стихи? :( </p> 
        <%= link_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Уверены?" }, method: :delete %>
        <%= link_to "Вернуться назад", :back %> -->
      </div>
    </div>
  </div>
</div>
  

