<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="custom">Ваши шедевры</h3>
      <ul>
        <% if @poems.any? %>
          <% @poems.each do |poem| %>
            <li data-poem-id="<%= poem.id %>">
              <%= poem.title %> - <%= poem.user.nickname %> : <%= link_to "Просмотреть", poem_path(poem) %> - <%= link_to "Изменить", edit_poem_path(poem) %> - <%= link_to "Удалить", poem_path(poem), method: :delete, remote: true %>
            </li>
          <% end %>
        <% else %>
          <p>К сожалению, в нашей коллекции пока нет ваших шедевров.</p>
          <%= link_to "Вернуться назад", root_path, class: "btn btn-lg red custom" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

