<h3>Welcome to your Dashboard, <%= current_user.nickname %> </h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <% @poems.each do |poem| %>
          <li data-poem-id="<%= poem.id %>">
            <%= poem.title %> - <%= poem.user.nickname %> - <%= link_to "View", poem_path(poem), {class: "btn btn-primary"} %> - <%= link_to "Delete", poem_path(poem), method: :delete, remote: true %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

